os: linux
services: docker
language: minimal
install: skip
addons:
  apt:
    packages:
    - docker-ce
stages:
  - lint
  - test
env:
  - CMD="docker run --rm -itv $(pwd):/src -w /src filebrowser/dev sh -c"
jobs:
  include:
  - stage: lint
    script: $CMD "go get -v ./... && golangci-lint run -v"
  - stage: test
    script: $CMD "$(cat ./build.sh)"
